<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='login-page.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="login-box">
            <h1 id="main-heading">Login</h1>
            
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}

            <form method="POST">
                <input id="username-box" name="username" placeholder="Username" required><br>
                <input id="password-box" name="password" type="password" placeholder="Password" required><br>
                <button id="login-btn" type="submit">LOGIN</button>
            </form>

            <p><a href="{{ url_for('forgot') }}">Forgot Password?</a></p>
            <p><a href="{{ url_for('signup') }}">Not a user? Sign up now</a></p>
        </div>
    </body>
</html>
